.RData
.Rhistory
.git
.gitignore
manifest.json
rsconnect/
Rproj.user
renv/library/
renv/local/
renv/staging/
renv/cache/
.renvignore
tests/
vignettes/
man/
*.Rproj
*.md
*.Rmd
NEWS.md
README.md
README.Rmd
dev/
.vscode/
.idea/
*.log
